absl-py==2.0.0
altair==5.0.1
appdirs==1.4.4
arrow==1.2.3
astunparse==1.6.3
atomicwrites==1.4.0
attrs==24.2.0
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
beautifulsoup4==4.13.4
bkcharts==0.2
bleach==6.0.0
blinker==1.6.3
blis==0.7.11
brotlipy==0.7.0
cached-property==1.5.2
cachetools==5.5.2
catalogue==2.0.10
catboost==1.2.2
category-encoders==2.6.3
certifi==2025.4.26
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.8
cloudpathlib==0.16.0
colorama==0.4.6
comtypes==1.1.10
confection==0.1.4
cryptography==45.0.2
cycler==0.11.0
cymem==2.0.8
dacite==1.8.1
decorator==5.1.1
dm-tree==0.1.8
docstring-to-markdown==0.17
docx2txt==0.8
et-xmlfile==1.1.0
filelock==3.12.2
flatbuffers==23.5.26
fonttools==4.25.0
fqdn==1.5.1
gast==0.5.4
gdown==4.7.3
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.26.1
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.60.0
h11==0.14.0
h5py==2.10.0
htmlmin==0.1.12
idna==3.10
ImageHash==4.3.1
imbalanced-learn==0.11.0
imblearn==0.0
importlib-metadata==6.7.0
importlib-resources==5.12.0
inflection==0.5.1
intel-cmplr-lib-rt==2025.1.1
intel-cmplr-lib-ur==2025.1.1
intel-cmplr-lic-rt==2025.1.1
intel-openmp==2025.1.1
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.6
joblib==1.3.2
jsonpointer==2.1
jsonschema==4.17.3
kaggle==1.7.4.5
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
langcodes==3.3.0
libclang==16.0.6
lightgbm==4.3.0
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupSafe==2.1.5
matplotlib==3.5.3
mccabe==0.6.1
mdurl==0.1.2
missingno==0.5.2
mkl==2025.1.0
mkl-service==2.4.0
mlxtend==0.23.0
multimethod==1.9.1
munkres==1.1.4
murmurhash==1.0.10
mypy-extensions==1.0.0
namex==0.0.7
networkx==2.6.3
numexpr==2.8.6
numpy==1.21.6
oauthlib==3.2.2
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==23.2
pandas==1.1.5
pandas-profiling==3.6.6
parso==0.8.4
patsy==0.5.2
pdfkit==1.0.0
pdfminer.six==20221105
pep8==1.7.1
phik==0.12.3
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
plac==1.1.3
plotly==5.18.0
pluggy==1.2.0
ply==3.11
preshed==3.0.9
protobuf==3.20.3
pyarrow==12.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.19.1
pydantic==1.10.22
pydeck==0.8.1b1
PyDispatcher==2.0.5
pydub==0.25.1
Pygments==2.17.2
pyls-spyder==0.4.0
Pympler==1.1
pyparsing==3.1.4
PyPDF2==3.0.1
pyrsistent==0.19.3
PySocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.9.0.post0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.4
python-slugify==8.0.4
pytz==2025.2
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
PyYAML==6.0.1
reportlab==4.1.0
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.0
rsa==4.9
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
six==1.17.0
smart-open==6.4.0
smmap==5.0.2
soupsieve==2.4.1
spacy==2.3.9
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
statsmodels==0.13.2
streamlit==1.23.1
tables==3.6.1
tangled-up-in-unicode==0.2.0
tbb==2022.1.0
tcmlib==1.3.0
tenacity==8.2.3
tensorboard==2.11.2
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.3.1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
text-unidecode==1.3
thinc==7.4.6
threadpoolctl==3.1.0
toml==0.10.2
toolz==0.12.1
tornado==6.2
tqdm==4.67.1
typeguard==2.13.3
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.4.0
tzdata==2023.4
tzlocal==4.3.1
ujson==5.7.0
umf==0.10.0
uri-template==1.3.0
urllib3==1.26.18
validators==0.20.0
visions==0.7.5
wasabi==0.10.1
watchdog==3.0.0
weasel==0.3.4
webcolors==1.13
webencodings==0.5.1
Werkzeug==2.2.3
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.9.3
wrapt==1.16.0
ydata-profiling==4.5.1
zipp==3.15.0
zstandard==0.19.0
